<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <title>No Profile</title>
  </head>
  <style>
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
      color: #343a40;
    }
    .container {
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ffffff;
      opacity: 0.8;
      background-image: repeating-radial-gradient(
          circle at 0 0,
          transparent 0,
          #ffffff 40px
        ),
        repeating-linear-gradient(#ced4da55, #ced4da);
    }
    .card {
      background-color: white;
      border: 1px solid #ced4da;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      padding: 1rem;
      font-size: 1.3rem;
      text-align: center;
    }
    img {
      width: 300px;
    }
  </style>
  <body>
    <div class="container">
      <div class="card">
        <img
          src="https://media.giphy.com/media/SDUiharA58JhGCwDqP/giphy.gif"
          alt=""
        />
        <br />
        <br />
        <i class="fa-solid fa-link-slash"></i> No profile found
      </div>
    </div>
  </body>
</html>
