<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
      <title>List of Users</title>
  </head>
  <style>
      body {font-family: Arial, Helvetica, sans-serif;}
      
      /* The Modal (background) */
      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }
      
      /* Modal Content */
      .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
      }
      
      /* The Close Button */
      .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }
      
      .close:hover,
      .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }

      table, th, td {
      border:1px solid black;
      }

      </style>
  <body>
    <h1>List of Users</h1><br><br>
    
      <table>
        <tr>
            <th>No</th>
            <th>User ID</th>
            <th>User Name</th>
            <th>Action</th>
        </tr>
        <% for (var i=0; i < userList.length; i++) { %>
        <tr>
            <td>  <%= (i+1)%> </td>
            <td>  <%= userList[i].user_id%>  </td>
            <td>  <%= userList[i].fName%> <%= userList[i].lName %>  </td>
            <td><a href="/ban" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/ProhibitionSign2.svg/225px-ProhibitionSign2.svg.png" width="30" height="30">
                <a href="/warning" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyhbkbAaut1zal_92hOuwbfVT6tNh5n60Vhw&usqp=CAU" width="30" height="30"></td>
        </tr>
        <% } %>
      </table>


   <!-- <script src="/script/userListEdit.js"></script>         -->

    </body>
</html>